body{
  font-family: "Avenir Next" !important;
  font-weight: 300;
}
header{
  padding: 20px 0;
  font-family: "Avenir Next" !important;
  position: fixed;
  background-color: #333333;
  width: 100%;
  z-index: 10;
}
header .row,
footer .row {
  display: flex;
  align-items: center;
}
header h1{
  font-weight: 700;
  margin: 0;
}
header nav {
  position: fixed;
  background-color: #333333;
  width: 100%;
  z-index: 10;
}
ul {
  margin: 30px auto;
  background-color: #333333;
  padding: 0 20px;
  text-align: right;
  display: inline-block;
}
li {
  color: #FFFFFF;
  background-color: #333333;
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  width: 80px;
}
header p {
  padding: 0 20px;
  margin: 0;
}
@font-face {
  font-family: 'Avenir Next';
  src: url("http://allisonrobbins.github.io/fonts/Avenir_Next.otf"); /* File to be stored at your site */
  }
body container {
  background-color: #333333;
  padding: 20px 0;
  font-family: "Avenir Next" !important;
}
