body{
  font-family: "Avenir Next" !important;
  font-weight: 300;
}
header{
  padding: 20px 0;
  font-family: "Avenir Next" !important;

}
header .row,
footer .row {
  display: flex;
  align-items: center;
}
header h1{
  font-weight: 700;
  margin: 0;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header p {
  padding: 0 20px;
  margin: 0;
}
@font-face {
  font-family: 'Avenir Next';
  src: url("http://allisonrobbins.github.io/fonts/Avenir_Next.otf"); /* File to be stored at your site */
  }
body container {
  background-color: #333333;
  padding: 20px 0;
  font-family: "Avenir Next" !important;
}
