.grid {
  display: grid;
  width: 80%;
  height: 80%
  padding: 10px;
  margin-left: 20px;
  grid-template: repeat(3,200px)/repeat(3,200px);
  grid-gap: 10px;
  position: absolute;
}
body{
  font-family: "Avenir Next" !important;
  font-weight: 200;
  background-color: #333333;
  color: white;
  margin-left: 20px;
  position: absolute;
}
header{
  font-family: "Avenir Next" !important;
  position: fixed;
  background-color: #333333;
  width: 100%;
  z-index: 10;
  height: 100px;
  color: white;
  padding-left: 10px;
  top:0px !important;
}
h1 {
  font-weight: 500;
  font-size: 72px;
}
h3 {
  font-size: 30px;
  margin-left: 10px;
}
.photo {
  background-color: white;
}
.a {
  grid-area: 1/1/span 1/span 1;
}
.b {
  grid-area: 1/2/span 1/span 1;
}
.c {
  grid-area: 1/3/span 1/span 1;
}
.d {
  grid-area: 2/1/span 1/span 1;
}
.e {
  grid-area: 2/2/span 1/span 1;
}
.f {
  grid-area: 2/3/span 1/span 1;
}
.g {
  grid-area: 3/1/span 1/span 1;
}
.h {
  grid-area: 3/2/span 1/span 1;
}
.i {
  grid-area: 3/3/span 1/span 1;
}
.j {
  grid-area: 4/1/span 1/span 1;
}
.k {
  grid-area: 4/2/span 1/span 1;
}
.l {
  grid-area: 4/3/span 1/span 1;
}
