.grid {
  display: grid;
  width: 80%;
  height: 80%
  padding: 10px;
  margin-left: 20px;
  grid-template: repeat(5,200px)/repeat(3,200px);
  grid-gap: 10px;
}
.second {
  display: grid;
  width: 80%;
  height: 80%;
  padding-left: 20px;
  padding-top: 30px;
  grid-template: repeat(3,250px)/repeat(3,200px);
  grid-gap: 10px;
}
nav {
  color: white !important;
  margin-right: 10px;
  font-family: "Avenir_Next" !important;
  font-size: 14px;
  display: inline-block;
}
body{
  font-family: "Avenir Next" !important;
  font-weight: 100;
  background-color: #333333;
  color: white;
  margin-left: 20px;
}
header{
  font-family: "Avenir Next" !important;
  background-color: #333333;
  width: 100%;
  z-index: 10;
  height: 100px;
  color: white;
  padding-left: 10px;
  display: inline-block;
}
h1 {
  font-weight: 300;
  font-size: 48px;
  display: inline-block;
}
h3 {
  font-size: 30px;
  margin-left: 20px;
}
.a {
  grid-area: 1/1/span 1/span 1;
}
.b {
  grid-area: 1/2/span 1/span 1;
}
.c {
  grid-area: 1/3/span 1/span 1;
}
.d {
  grid-area: 2/1/span 1/span 1;
}
.e {
  grid-area: 2/2/span 1/span 1;
}
.f {
  grid-area: 2/3/span 1/span 1;
}
.g {
  grid-area: 3/1/span 1/span 1;
}
.h {
  grid-area: 3/2/span 1/span 1;
}
.i {
  grid-area: 3/3/span 1/span 1;
}
.j {
  grid-area: 4/1/span 1/span 1;
}
.k {
  grid-area: 4/2/span 1/span 1;
}
.l {
  grid-area: 4/3/span 1/span 1;
}
.m {
  grid-area: 5/1/span 1/span 1;
}
.n {
  grid-area: 5/2/span 1/span 1;
}
.o {
  grid-area: 5/3/span 1/span 1;
}
.p {
  grid-area: 6/1/span 1/span 1;
}
.q {
  grid-area: 6/2/span 1/span 1;
}
.r {
  grid-area: 6/3/span 1/span 1;
}
.A {
  grid-area: 1/1/2/2;
}
.B {
  grid-area: 1/2/span 1/span 1;
}
.C {
  grid-area: 1/3/span 1/span 1;
}
.D {
  grid-area: 2/1/span 1/span 1;
}
.E {
  grid-area: 2/2/span 1/span 1;
}
.F {
  grid-area: 2/3/span 1/span 1;
}
.G {
  grid-area: 3/1/span 1/span 1;
}
.H {
  grid-area: 3/2/span 1/span 1;
}
.I {
  grid-area: 3/3/span 1/span 1;
}
