header{
  font-family: "Avenir Next" !important;
  background-color: #333333;
  width: 100%;
}
header .row,
footer .row {
  display: flex;
  align-items: right;
}
header nav {
  background-color: #333333;
  width: 100%;
}
nav {
  color: white !important;
  margin-right: 10px;
  font-family: "Avenir_Next" !important;
  font-size: 14px;
  display: inline-block;
  text-align: right;
}
body{
  font-family: "Avenir Next" !important;
  background-color: #333333;
  padding-left: 20px;
}
ul {
  margin: 30px auto;
  background-color: #333333;
  padding: 0 20px;
  text-align: right;
  display: inline-block;
}
li {
  color: white !important;
  background-color: #333333;
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  width: 80px;
}
header p {
  padding: 0 20px;
}
h1 {
  font-weight: 300;
  font-size: 48px;
  font-style: bold;
  display: inline-block;
  text-align: left;
  color: white !important;
}
h3 {
  font-size: 30px;
  margin-left: 20px;
  color: white !important;
}
.image {
  opacity: 1;
  display: inline-block;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 200px;
  height: auto;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}
.container:hover .image {
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.text {
  background-color: inherit;
  color: white;
  font-size: 16px;
  padding: 15px 20px;
}
.menu {
  display: grid;
  width: 80%;
  height: 80%;
  padding-left: 20px;
  padding-top: 30px;
  margin-left: 20px;
  grid-template: repeat(3,200px)/repeat(3,250px);
  grid-gap: 10px;
}
