body{
  font-family: "Avenir Next" !important;
  background-color: white;
  padding-left: 20px;
  height: 100%;
  margin: 0;
}
.bgd{
  background-image: url(professional.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  font-family: "Avenir Next" !important;
  background-color: white;
  width: 100%;
}
header .row,
footer .row {
  display: flex;
  align-items: right;
}
header h1{
  font-weight: 300;
  padding-left: 10px;
  font-size: 48px;
  color: black;
}
header nav {
  background-color: white;
  width: 100%;
}
.navbar {
  background-color: white;
  width: 100%;
  overflow: hidden;
}
.navbar a {
  float: right;
  color: black;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
}
.navbar a:hover {
  background-color: #626162;
  color: black;
}
.navbar a.active {
  background-color: inherit;
  color: black;
}
header p {
  padding: 0 20px;
}
@font-face {
  font-family: 'Avenir Next';
  src: url("http://allisonrobbins.github.io/fonts/Avenir_Next.otf"); /* File to be stored at your site */
  }
 section {
  background-color: #333333;
  font-family: "Avenir Next" !important;
}
container {
  text-align: left;
  background-color: #333333;
  padding-left: 10px;
}
p {
  color: white;
  background-color: #333333;
  text-align: left;
  padding-left: 10px;
  font-family: "Avenir Next" !important;
  font-size: 18px;
}
img {
  padding-bottom: 20px;
}
h2 {
  color: white;
  font-family: "Avenir Next" !important;
  padding-left: 20px;
}
h3 {
  color: white;
  font-weight: 50;
  font-family: "Avenir Next" !important;
  font-size: 18;
}
h4 {
  color: white;
  font-style: italic;
  font-size: 16;
}
